<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <a href="/about">about Page</a>
    <a href="/features">features page</a>

    <h2>UserData</h2>

    <table border="">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>city</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= userData.userName %></td>
          <td><%= userData.age %></td>
          <td><%= userData.city %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
