<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>home page</h1>
    <table border="">
      <form action="/addData" method="post">
        <tr>
          <td>User Name</td>
          <td><input type="text" name="userName" /></td>
        </tr>
        <tr>
          <td></td>
          <td><button>Submit</button></td>
        </tr>
      </form>
    </table>
    <br />
    <br />
    <table border="">
      <thead>
        <tr>
          <th>User Name</th>
        </tr>
      </thead>
      <tbody>
        <% userData.forEach((item)=>{ %> 
          <tr>
            <td><%= item.userName %></td>
          </tr>
          
          
          <% }) %>
      </tbody>
    </table>
  </body>
</html>
